@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
body
{
	height: 100%;
}  
*/
.container
{
	margin: auto;
	flex-grow: 1;
	padding: 100px;
}

.container h2
{
	font-size: 100px;
	justify-content: center;
	text-align: center;
}

.container #first
{
	max-width: 400px;
	height: auto;
	position: relative;
	float: center;
	margin-left: 300px;
	margin-top: 20px;
}

.container #second
{
	width: auto;
	max-height: 500px;
	position: relative;
	float: center;
	margin-top: 20px;
	margin-bottom: 60px;
	padding-left: 60px;
}

.container #third
{
	max-width: 800px;
	margin-left: 800px;
	margin-top: 60px;
}

.container #forth
{
	
}