@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	height: 100%;
}  

#container
{
	min-height: 100%;
}

#container.main
{
	overflow: auto;
	padding-bottom: 100px;
	background-color: red;
}

.footer
{
	background-color: black;
	position: relative;
	height: 100px;
	margin-bottom: -100px;
	clear: both;
}