@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
body
{
	height: 100%;
}  
*/
.container
{
	text-align: center !important; 
	padding: 50%;
	background-color: white;
	
}

.container.first h2 p
{
	text-align: center;
	padding: 100%;
}
